.sr-what img{
  width: 90%;
}
.program_section {
  position: relative;
}

.program_op{
  color: #ffffff;
}

.sr-programs h1,
.sr-programs h4,
.sr-programs p { 
  text-align: center;
}

.sr-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: #8bcde5;
  border-radius: 50px;
}
.sr-card:hover .sr-icon{
  background-color: #349f19;
}
.sr-icon {
  width: 70px;
  height: 70px;
  background-color: #0596D9;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 10px;
  margin-bottom: 20px;
}

.sr-icon img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
}

